*[data-state="open"] .toggle {
  transform: rotate(90deg);
}

.openingAnimation {
  transform: translateX(-75%);
  transition-property: all;
  transition-duration: 110ms;
  transition-timing-function: linear;
}

.closingAnimation {
  transform: translateX(0%);
  transition-property: all;
  transition-duration: 110ms;
  transition-timing-function: linear;
}

#fileInput {
  width: 100%;
  height: 20em;
  border: 2px dotted var(--color-muted-foreground);
  background-color: var(--color-muted);
  border-radius: 0.25em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color-muted-foreground);
}

#fileInput h2 {
  margin-top: 0.5em;
  color: var(--color-foreground);
  font-size: 1.2em;
}
